.servicesCatalog {

    &__submenu_header {
        display: none;
        cursor: pointer;
    }

    .container {
        width: 1300px;
    }
    padding-bottom: 70px;
    padding-top: 70px;
    &__wrapper {
        display: grid;
        grid-template-columns: 270px auto;
        overflow: hidden;
    }
    &__tabs {
        margin-top: 70px;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
        margin-bottom: 0;
        padding-left: 0;
    }
    &__tab {
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 500;
        color: #121212;
        width: 250px;
        min-height: 50px;
        border-left: solid 2px #d0d0d0;
        text-align: left;
        line-height: 30px;
        margin: 0 10px;
        cursor: pointer;
        transition: 0.3s all;
        margin-bottom: 20px;
        div {
            min-height: inherit;
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }

        &:hover {
            border-left: solid 10px var(--main-color);
        }

        

        &.active {
            color: #fff;
            background-color: var(--main-color);
            border-left: solid 10px var(--main-color);

        }
    }
    

    &__layout {
        margin-top: 70px;
        width: 1000px;
    }
    &__item {
        padding-left: 10px;
        display: none;
        &.active {
            display: block;
        }
    }
    // &__gallery {
    //     display: grid;
    //     grid-template-columns: repeat(auto-fit, 300px);
    //     justify-content: space-between;
    //     width: 100%;
    //     height: 300px;
    //     img {
    //         width: 300px;
    //         height: 250px;
    //         object-fit: cover;
    //         transition: transform .3s;
    //         &:hover {
    //            transform: scale(1.3);
    //            cursor: pointer;
    //         }
    //         &:active {
    //             transform: scale(2.3);
    //         }
    //     }
    // }

    .gallery__slider {
        width: 100%;
        margin-bottom: 15px;
        &-item {
            img {
                width: 300px;
                height: 300px;
                object-fit: cover;
            }
        }
    }

    &__callback {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__social {
        display: flex;

        justify-content: space-between;

        &-item {
            position: relative;
            width: 36px;
            height: 36px;
            border-radius: 100%;
            margin-right: 20px;
            border: none;

            img {
                border: none;
                transition: all .3s;
                width: 36px;
                height: 36px;

                &:hover {
                    transform: scale(1.3);
                }

            }
        }
    }
    &__description {
        ul {
            
            list-style-type: none;
            li {
                padding-left: 20px;
                &:nth-child(1) {
                    margin-top: 10px;
                }
            }
        }

        img {
            display: block;
            margin: 15px auto 5px auto;
            border: 1px solid gray;
            transition: transform .3s;
            object-fit: cover;
            &:hover {
                transform: scale(1.3);
                cursor: pointer;
            }

            &:active {
                transform: scale(2.3);
            }

        }

        .scheme {
            span {
                margin-left: 10px;
                text-align: right;
            }
        }

        .table {
            display: grid;
            grid-template-columns: repeat(5,155px);
            &__item {
                display: flex;
                flex-direction: column;
            }
            img {
                border: none;
                height: 25px;
                object-fit: none;
                
                &:hover {
                    transform: none;
                }

                &:active {
                    transform: none;
                }

            }
            &__people {
                background: none 0% 0% repeat scroll #d2d3d5;
                width: 100%;
            }
            &__models {
                li {
                    font-size: 17px;
                    padding-left: 5px;
                }
            }
        }

        
        .tech {
            &__descr {
                margin-top: 20px;
                text-align: center;
            }
            &__tabs {
                list-style-type: none;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 0;
                padding-left: 0;
            }

            &__tab {
                text-transform: uppercase;
                font-size: 18px;
                font-weight: 500;
                color: #6b6b6b;
                width: 320px;
                height: 50px;
                border: solid 2px #d0d0d0;
                text-align: center;
                line-height: 48px;
                transform: skewX(-25deg);
                margin: 0 5px;
                cursor: pointer;
                transition: 0.5s all;

                &:hover {
                    box-shadow: 3px 3px 20px var(--main-color);
                    border: none
                }

                div {
                    transform: skewX(25deg);
                }

                &.active {
                    color: #fff;
                    background-color: var(--main-color);
                    border: none;

                    &:hover {
                        box-shadow: 3px 3px 20px var(--main-color);
                        border: none
                    }
                }
            }

            &__item {
                display: none;
                &.active {
                    display: block;
                }
                &_title {
                    font-weight: 700;
                    font-size: 30px;
                    text-align: center;
                }
            }
        }
           
    }

    .rent__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        a {
            margin-right: 0;
            width: 170px;
            display: flex;
            text-decoration: none;
            label {
                color: #121212;
                cursor: pointer;
                margin-bottom: 0;
                align-self: center;
                &:hover {
                    text-decoration: underline;
                }
            }
            img {
                margin-top: 0;
            }
        }
    }

    

    &__social {
        display: flex;

        justify-content: space-between;

        &-item {
            position: relative;
            width: 36px;
            height: 36px;
            border-radius: 100%;
            margin-right: 20px;
            border: none;

            img {
                border: none;
                transition: all .3s;
                width: 36px;
                height: 36px;

                &:hover {
                    transform: scale(1.3);
                }

            }
        }
    }

    .tns {
        &-nav {
            margin-top: 10px;
            display: flex;
            // width: 50px;
            justify-content: center;
            align-items: center;

            button {
                width: 12px;
                height: 12px;
                border: none;
                border-radius: 100%;

                &:focus {
                    outline: none;
                }
            }

            &-active {
                background-color: var(--second-color);
            }
        }
    }

    
}