.servicesPromo {
    ::selection {
        background: #fefefe;
    }
    .container {
        position: relative;
    }
    
    background: var(--second-color);
    padding-top: 60px;
    min-height: 500px;
    &__title {
        width: 100%;
        color: #121212;
        text-transform: none;
    }
    &__descr {
        font-size: 16px;
        color: #fefefe;
        font-weight: 400;
        margin-bottom: 0;
        margin-top: 40px;
        span {
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 10px;
        }
    }
    .downArrow {
        width: 70px;
        height: 70px;
        z-index: 100;
        position: absolute;
        bottom: -70px;
        left: 50%;
        transform: translateX(-50%);
        animation: read-more 2s ease infinite;
    }
}