.rent {
    &__wrapper {
        margin-top: 15px;
        margin-bottom: 30px;
        display: grid;
        grid-template-columns: 450px auto;
        grid-template-rows: 450px;
        grid-auto-rows: auto;
        column-gap: 30px;
        row-gap: 30px;
    }
    
    &__descr {
        &_small {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            // border: 1px solid black;
            padding: 0 10px 10px 10px;
            font-size: 16px;
            p {
                text-align: center;
            }
            h5 {
                font-size: 16px;
                text-align: center;
            }
            
        }
        &_smallScreen {
            display: none;
        }
        &_big {
            // border: 1px solid red;
            grid-column: 1 / 3;
            ul {
                list-style-type: none;
                li {
                    margin-left: 10px;
                    text-align: center;
                }
            }
            h5 {
                font-size: 19px;
                text-align: center;
            }
            p {
                text-align: center;
            }
        }
    }








    &__gallery {
        .slider {
            display: flex;
        }
        .tns-liveregion {
            display: none;
        }
        overflow: hidden;
        position: relative;
        width: 450px;
        margin-right: 30px;
        img {

            width: 450px;
            height: 450px;
            object-fit: cover;
            z-index: 1;
        }
        .controls {
            width: 120px;
            height: 60px;
            display: flex;

            left: calc(100% - 120px);
            position: absolute;
            top: calc(100% - 59px);
            z-index: 100;
            img {
                width: 30px;
                height: 30px;
            }

            .prev {
                &.active {
                .b1 {
                    transform: rotate(135deg) translate(-10px, -3px);
                    left: 20%;
                }
                
                .b2 {
                    transform: rotate(-135deg) translate(-10px, 3px);
                    left: 20%;
                }
                }
            }

            .next {
                &.active {
                    .b1 {
                    transform: rotate(45deg) translate(-10px, 3px);
                    }

                    .b2 {
                    transform: rotate(-45deg) translate(-10px, -3px);
                    }
                }
            }

            .prev,
            .next {
                position: relative;
                .b {
                    transition: all .3s;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    
                }
                &.disabled {
                    .b {
                    left: 50%;
                    }
                    .b1 {
                    transform: translate(-50%, -50%) rotate(0deg);
                    }
                    .b2 {
                    transform: translate(-50%, -50%) rotate(0deg);
                    }
                }
                

                &:hover {
                    background-color: #d0d0d0;
                    .b1,
                    .b2 {
                    background-color: var(--main-color);
                    }
                }
                &:focus {
                    outline: none;
                }
                
            }
            button {
                border: none;
                background-color: #e7e7e7;
                width: 60px;
                height: 60px;
                
                .b {
                    display: block;
                    width: 15px;
                    height: 2px;
                    background-color: black;
                }
            }
            
        }
    }
}

.tech {
            &__descr {
                margin-top: 20px;
                text-align: center;
            }
            &__tabs {
                list-style-type: none;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                margin-bottom: 0;
                padding-left: 0;
            }

            &__tab {
                text-transform: uppercase;
                font-size: 18px;
                font-weight: 500;
                color: #6b6b6b;
                width: 320px;
                height: 50px;
                border: solid 2px #d0d0d0;
                text-align: center;
                line-height: 48px;
                transform: skewX(-25deg);
                margin: 0 5px;
                margin-bottom: 10px;
                cursor: pointer;
                transition: 0.5s all;

                &:hover {
                    box-shadow: 3px 3px 20px var(--main-color);
                    border: none
                }

                div {
                    transform: skewX(25deg);
                }

                &.active {
                    color: #fff;
                    background-color: var(--main-color);
                    border: none;

                    &:hover {
                        box-shadow: 3px 3px 20px var(--main-color);
                        border: none
                    }
                }
            }

            &__item {
                display: none;
                &.active {
                    display: block;
                }
                &_title {
                    font-weight: 700;
                    font-size: 30px;
                    text-align: center;
                }
            }
        }