@keyframes info {
    from {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    to {
        transform: scale(1);
    }
}

@keyframes read-more {
    from {
        transform: translateY(0) translateX(-50%);
    }

    50% {
        transform: translateY(10px) translateX(-50%);
    }

    to {
        transform: translateY(0) translateX(-50%);
    }
}