.promo {
    overflow: hidden;
    padding-top: 60px;
    position: relative;;
    min-height: 650px;
    background:url(../img/bg_main.jpg) center (center/cover) no-repeat;
    object-fit: cover;
    .container {
        width: 1300px;
    }

    .test {
        padding-top: 60px;
        position: absolute;
        top: -25px;
        width: 100%;
        min-height: calc(100% + 25px);
        background-color: #3b3b3b5d;
        z-index: 100;
    }
    
    &__subtitle {
        font-size: 28px;
        color: #fff;
        font-weight: 500;
        width: 747px;
    }
    
    
}