.smallGallery {
   padding-top: 70px;
   height: 100%;
   &__wrapper  {
      margin-bottom: 70px;
      display: grid;
      grid-template-columns: 550px auto;

      &.left {
         grid-template-columns: auto 550px;
         .smallGallery__photo {
            width: 550px;
            order: 2;
         }
         .smallGallery__descr {
            order: 1;
            margin: 0 40px 0 0;
         }
      }
   }
   &__photo {
      position: relative;
      width: 550px;
      img {
         width: 550px;
         height: 550px;
         object-fit: cover;
         z-index: 1;
      }
      &-hover {
         position: absolute;
         top: 0;
         left: 0;
         z-index: 10;
         height: 550px;
         width: 550px;
         transition: all .6s;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         padding-bottom: 80px;

         &_pic,
         &_text {
            display: none;
         }
         &:hover {
            // background-color: rgba(40, 58, 163, 0.9); более фиолетовый
            background-color: rgba(40, 73, 163, 0.9);
            
            // background-color: rgba(40, 42, 163, 0.9); красный

            .smallGallery__photo-hover_text {
               display: block;
               font-size: 16px;
               font-weight: 500;
               color: #fefefe;
               span {
                  font-size: 20px;
                  font-weight: 700;
               }
               
               
            }
            .smallGallery__photo-hover_pic {
               display: block;
               width: 150px;
               height: 150px;
               margin-bottom: 10px;
            }
            
         }
         &.active {
            background-color: rgba(40, 73, 163, 0.9);

            // background-color: rgba(40, 42, 163, 0.9); красный

            .smallGallery__photo-hover_text {
               display: block;
               font-size: 16px;
               font-weight: 500;
               color: #fefefe;

               span {
                  font-size: 20px;
                  font-weight: 700;
               }


            }

            .smallGallery__photo-hover_pic {
               display: block;
               width: 150px;
               height: 150px;
               margin-bottom: 10px;
            }
         }
      }
      
   }
   &__descr {
      margin: 0 0 0 40px;
      align-self: center;
   }

   &__title {
      font-size: 40px;
      font-weight: 700;
   }

   .info {
      display: none;
      position: absolute;
      top: 0px;
      right: 0px;
      z-index: 100;
      width: 60px;
      height: 60px;
      img {
         width: 30px;
         height: 30px;
      }
   }

   .controls {
      width: 120px;
      height: 60px;
      display: flex;


      position: absolute;
      top: 0;
      z-index: 100;
      img {
         width: 30px;
         height: 30px;
      }

      .prev {
         &.active {
         .b1 {
            transform: rotate(135deg) translate(-10px, -3px);
            left: 20%;
         }
         
         .b2 {
            transform: rotate(-135deg) translate(-10px, 3px);
            left: 20%;
         }
         }
      }

      .next {
         &.active {
            .b1 {
               transform: rotate(45deg) translate(-10px, 3px);
            }

            .b2 {
               transform: rotate(-45deg) translate(-10px, -3px);
            }
         }
      }

      .prev,
      .next {
         position: relative;
         .b {
            transition: all .3s;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            
         }
         &.disabled {
            .b {
               left: 50%;
            }
            .b1 {
               transform: translate(-50%, -50%) rotate(0deg);
            }
            .b2 {
               transform: translate(-50%, -50%) rotate(0deg);
            }
         }
         

         &:hover {
            background-color: #d0d0d0;
            .b1,
            .b2 {
               background-color: var(--main-color);
            }
         }
         &:focus {
            outline: none;
         }
         
      }
      button {
         border: none;
         background-color: #e7e7e7;
         width: 60px;
         height: 60px;
         
         .b {
            display: block;
            width: 15px;
            height: 2px;
            background-color: black;
         }
      }
      
   }
}