

.title {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 0;
    text-transform: uppercase;
    &_white {
        color: var(--text-color);
    }
    &-left {
        &_fz60 {
            text-transform:uppercase;
            text-align: left;
            width: 800px;
            font-size: 60px;
            line-height: 85px;
            color: var(--text-color);

            span {
                text-transform: capitalize;
            }
        }
        &_fz45 {
            color: var(--text-color);
            text-transform: uppercase;
            font-size: 45px;
            letter-spacing: 0.03em;
        }
        &_fz25 {
            color: var(--text-color);
            text-transform: uppercase;
            font-size: 25px;
            letter-spacing: 0.03em;
        }
            
    }
   
}